:root {
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

button[aria-pressed="true"] {
  font-weight: 600;
}

menu {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
